.toolbar{
    background-color: green;
    color: whitesmoke;
    font-family: "Myriad Pro";
    margin: auto;
    display: flex;
    justify-content: center;
    font-size:25px;
}
.tabbar{
    background-color: lightgreen;
}
.carousel{
    height: 74%;
}
