.toolbar{
    background-color: darkmagenta;
    color: whitesmoke;
    font-family: "Myriad Pro";
    margin: auto;
    display: flex;
    justify-content: center;
    font-size:25px;
}
.tabbar{
    background-color: darkorchid;
}
.carousel{
    height: 50%;
}
